<form class="form new-listing-form">
    <div class="form-group">
        <label for="listing-title"> Album Title: </label>
        <input class="form-input" type="text" id="listing-name" name="listing-name"/>
    </div>

    <div class="form-group">
        <label for="listing-artist"> Album Artist: </label>
        <input class="form-input" type="text" id="listing-artist" name="listing-artist"/>
    </div>

    <div class="form-group">
        <label for="listing-release"> Album Release Date: </label>
        <input class="form-input" type="text" id="listing-release" name="listing-release" placeholder="Please enter in YYYY-MM-DD format">
    </div>

    <div class="form-group">
        <label for="listing-format"> Album Format: </label>
        <input class="form-input" type="text" id="listing-format" name="listing-format" placeholder="vinyl, CD, or cassette">
    </div>

    <div class="form-group">
        <label for="listing-condition"> Album Condition: </label>
        <input class="form-input" type="text" id="listing-condition" name="listing-condition" placeholder="New, Good, or Fair">
    </div>

    <div class="form-group">
        <label for="listing-genre"> Album Genre: </label>
        <input class="form-input" type="text" id="listing-genre" name="listing-genre"/>
    </div>

    <div class="form-group">
        <label for="listing-cover"> Album Cover Art: </label>
        <input class="form-input" type="text" id="listing-cover" name="listing-cover" placeholder="Enter a URL of the cover art using 'open image in new tab' link">
    </div>

    <div class="form-group">
        <label for="listing-desc"> Album Description: </label>
        <textarea class="form-input" id="listing-desc" name="listing-desc"></textarea>
    </div>

    <div class="form-group">
        <label for="listing-label"> Label Released Under: </label>
        <input class="form-input" type="text" id="listing-label" name="listing-label" placeholder="TDE? EMI? Brainfeeder?">
    </div>

    <div class="form-group">
        <label for="listing-price"> Price:($) </label>
        <input class="form-input" type="number" id="listing-price" name="listing-price"/>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary"> Create Listing </button>
    </div>
</form>
