{{#each vinyls && cds as |disc| }}
<div class="row mb-4 vinyl">
    <div class="col-md-5">
        <h2>
            {{{get_img}}}
            <a href="/vinyl/{{vinyl.id}}">{{vinyl.name}}</a>"
        </h2>

        <p>
            <span for="img"
        </p>
    </div>
</div>