{{! Irakli }}

<section class='flex-row justify-center'>
  <h2>Hello {{user.name}} </h2>
  <h3>Saved itmes list:</h3>
</section>

<div class='row mt-4'>
  {{if }}
  {{/if}}
</div>

<script src="/js/saveheart.js"></script>