{{! Irakli }}

<section class='flex-row justify-center'>
  <h2>Hello {{user.name}} </h2>
  <h3>Saved itmes list:</h3>
</section>

<div class='row mt-4'>
  {{if loggedIn}}
  {{> vinyl-details}}

  <a href="/login"> Log in, please, to view saved itmes</a>
  {{/if}}
</div>

<script src="/js/saveheart.js"></script>