body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2B2D42;
    font-weight: 700;
    margin: 0 0 10px;
}

a {
    color: #2B2D42;
    font-weight: 500;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

a:hover,
a:focus {
    color: #D10024;
    text-decoration: none;
    outline: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


li {
    float: left;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}


.active {
    background-color: #09c6e7;
}

.cleared:after,
.cleared:before {
    display: table;
    content: ""
}

.cleared:after {
    clear: both
}

.header-acc {
    float: right;
    padding: 15px 0px;
    position: fixed;
    right: 369px;
}

.header-acc>div {
    display: inline-block;
}

.header-acc>div+div {
    margin-left: 15px;
}

.header-acc>div>a {
    display: block;
    position: relative;
    width: 90px;
    text-align: center;
    color: #FFF;
}

.header-acc>div>a>i {
    display: block;
    font-size: 18px;
}

.header-acc>div>a>span {
    font-size: 12px;
}

.header-acc>div>a>.quantity {
    position: absolute;
    right: 15px;
    top: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    color: #FFF;
    background-color: #D10024;
}

.header-ctn .menu-toggle {
    display: none;
}


#top-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1E1F29;
}

.header-links li {
    display: inline-block;
    margin-right: 15px;
    font-size: 12px;
}

.header-links li:last-child {
    margin-right: 0px;
}

.header-links li a {
    color: #FFF;
}

.header-links li a:hover {
    color: #D10024;
}

.header-links li i {
    color: #D10024;
    margin-right: 5px;
}

#header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #15161D;
}

.header-logo {
    float: left;
}

.header-logo .logo img {
    display: block;
}

.header-search {
    padding: 15px 0px;
}

.header-search form {
    position: relative;
}

.header-search form .input-select {
    margin-right: -4px;
    border-radius: 40px 0px 0px 40px;
}

.header-search form .input {
    width: auto;
    margin-right: -4px;
}

.header-search form .search-btn {
    height: 40px;
    width: 100px;
    background: #D10024;
    color: #FFF;
    font-weight: 700;
    border: none;
    border-radius: 0px 40px 40px 0px;
    position: absolute;
    left: 298px;
}

.input-select {
    padding: 0px 15px;
    background: #FFF;
    border: 1px solid #E4E7ED;
    height: 40px;
}

.input {
    height: 40px;
    padding: 0px 15px;
    border: 1px solid #E4E7ED;
    background-color: #FFF;
    position: fixed;
    width: 100%;
}

textarea.input {
    padding: 15px;
    min-height: 90px;
}

#navigation {
    background: #333;
    border-bottom: 2px solid #E4E7ED;
    border-top: 3px solid #D10024;
}

.main-nav>li+li {
    margin-left: 30px
}

.main-nav>li>a {
    padding: 20px 0px;
}

.main-nav>li>a:hover,
.main-nav>li>a:focus,
.main-nav>li.active>a {
    color: #D10024;
    background-color: transparent;
}

.main-nav>li>a:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #D10024;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.main-nav>li>a:hover:after,
.main-nav>li>a:focus:after,
.main-nav>li.active>a:after {
    width: 100%;
}

.header-ctn li.nav-toggle {
    display: none;
}

.listing-section {
    background-color: white;
}

.justify-space-between-md {
    justify-content: space-between;
    background-color: white;
  }

  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    background-color: white;
  }

.mb-4 {
    margin-bottom: 1.375rem;
    background-color: white;
}

.disc-listing {
    background-color: #333;
    color: white;
}

.font-white {
    color: white;

}
@media only screen and (max-width: 991px) {
    .header-ctn .menu-toggle {
        display: inline-block;
    }

    #responsive-nav {
        position: fixed;
        left: 0;
        top: 0;
        background: #15161D;
        height: 100vh;
        max-width: 250px;
        width: 0%;
        overflow: hidden;
        z-index: 22;
        padding-top: 60px;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

    #responsive-nav.active {
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        width: 100%;
    }

    .main-nav {
        margin: 0px;
        float: none;
    }

    .main-nav>li {
        display: block;
        float: none;
    }

    .main-nav>li+li {
        margin-left: 0px;
    }

    .main-nav>li>a {
        padding: 15px;
        color: #FFF;
    }
}

.cover-art {
    width: 100px;
    height: 100px;
}

#footer {
    background: #15161D;
    color: #B9BABC;
}

#bottom-footer {
    background: #1E1F29;
}

.footer {
    margin: 30px 0px;
}

.footer .footer-title {
    color: #FFF;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0px 0px 30px;
}

.footer-links li+li {
    margin-top: 15px;
}

.footer-links li a {
    color: #B9BABC;
}

.footer-links li i {
    margin-right: 15px;
    color: #D10024;
    width: 14px;
    text-align: center;
}

.footer-links li a:hover {
    color: #D10024;
}



@media only screen and (max-width: 1201px) {}

@media only screen and (max-width: 991px) {
    .header-ctn .menu-toggle {
        display: inline-block;
    }

    #responsive-nav {
        position: fixed;
        left: 0;
        top: 0;
        background: #15161D;
        height: 100vh;
        max-width: 250px;
        width: 0%;
        overflow: hidden;
        z-index: 22;
        padding-top: 60px;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

    #responsive-nav.active {
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        width: 100%;
    }

    .main-nav {
        margin: 0px;
        float: none;
    }

    .main-nav>li {
        display: block;
        float: none;
    }

    .main-nav>li+li {
        margin-left: 0px;
    }

    .main-nav>li>a {
        padding: 15px;
        color: #FFF;
    }
}